
.banner {
  background-color: #291B55;
  color: white;
  padding: 80px 20px;
  position: relative;
  text-align: center;
}

.banner h1 {
  font-size: 40px;
}

.banner p {
  font-size: 24px;
  font-weight: lighter;
  text-shadow: 1px 1px 2px #888a89;
  margin-bottom: 20px;
}